<?xml version="1.0" encoding="UTF-8" ?>
<!-- Copyright 2024 OpenSynergy Indonesia
     Copyright 2024 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->
<openerp>
    <data>
        <menuitem
            id="bssb_core_banking_asset_configuration_menu"
            name="Core Banking Asset"
            parent="base.menu_custom"
        />
    </data>
</openerp>