<?xml version="1.0" encoding="UTF-8" ?>
<!-- Copyright 2021 OpenSynergy Indonesia
     Copyright 2021 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->
<openerp>
<data>
    <menuitem id="ati_main_menu" name="ATI" sequence="20" />

    <menuitem
            id="ati_fixed_asset_menu"
            name="Aset Tetap"
            sequence="1"
            parent="ati_main_menu"
        />

    <menuitem
            id="ati_fixed_asset_acquisition_menu"
            name="Perolehan Aset Tetap"
            sequence="2"
            parent="ati_main_menu"
        />

    <menuitem
            id="ati_fixed_asset_utilization_menu"
            name="Pemakaian Aset Tetap"
            sequence="3"
            parent="ati_main_menu"
        />

    <menuitem
            id="ati_fixed_asset_complex_asset_menu"
            name="Aset Kompleks"
            sequence="2"
            parent="ati_fixed_asset_utilization_menu"
        />

    <menuitem
            id="ati_fixed_asset_estimation_change_menu"
            name="Perubahan Estimasi"
            sequence="3"
            parent="ati_fixed_asset_utilization_menu"
        />

    <menuitem
            id="ati_fixed_asset_disposal_menu"
            name="Pelepasan Aset Tetap"
            sequence="4"
            parent="ati_main_menu"
        />

    <menuitem
            id="ati_inventory_menu"
            name="Inventaris"
            sequence="5"
            parent="ati_main_menu"
        />

    <menuitem
            id="ati_incoming_movement_menu"
            name="Pergerakan Masuk"
            sequence="6"
            parent="ati_main_menu"
        />

    <menuitem
            id="ati_internal_movement_menu"
            name="Pergerakan Internal"
            sequence="7"
            parent="ati_main_menu"
        />

    <menuitem
            id="ati_outgoing_movement_menu"
            name="Pergerakan Keluar"
            sequence="8"
            parent="ati_main_menu"
        />

    <menuitem
            id="ati_report_menu"
            name="Laporan"
            sequence="98"
            parent="ati_main_menu"
        />

    <menuitem
            id="ati_configuration_menu"
            name="Pengaturan"
            sequence="99"
            parent="ati_main_menu"
        />

</data>
</openerp>
